*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
  height: 100vh;

}
button{
  padding:.5rem 1rem;
  border-radius:6px;
  outline: none;
  font-size:1.3rem;
  font-weight: bold;
  background-color: gold;
  border: none;
}
.peoples,.planets{
  padding: 1em;
  margin:0 auto;
  display:grid;
  gap:.6rem;
  max-width:960px;
  grid-template-columns:repeat(auto-fit,minmax(400px,1fr));

}

.peoples>div,.planets>div{
  background-color:#eee;
  color:black;
  padding: 1em;
  border-radius: 7px;
  
}
.peoples>div:hover,.planets>div:hover{
  background-color:#eee;
  color:black;
  padding: 1em;
  border-radius: 7px;
  background-color: red;
  color: white;
  
}
.actions{
  display: flex;
  gap:1rem;
  justify-content: center;
}
.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:25px;
  height:25px;
  background-color: white;
  border-radius: 50%;

}
